# Python virtual environments
venv/
.venv/
env/
.env/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Distribution / packaging
build/
dist/
*.egg-info/

# Operating System & IDE artifacts
.DS_Store
Thumbs.db
.vscode/
.idea/
